body{
    width: 200px;
    margin: 0;
    padding: 0 10px 10px 10px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

h1 {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 0.5px solid #dadada;
}

body > .credits-container {
    margin-top: 30px;
    border-top: 0.5px solid #dadada;
    display: none;
}

body > .credits-container > .name-container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-top: 0.5px solid #dadada;
}

.flex {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    width: 60px;
}

.flex:hover {
    opacity: 0.4;
}

.flex .fa {
    font-size: 20px;
    color: black;
}

#more-info-link {
    margin-top: 16px;
    cursor: pointer;
    font-size: 8px;
}